<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cool Servant Page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

  <body>
    <header>
      <h1>Servant Introduction</h1>
    </header>
  
    <section class="servant">
      <img src="/images/servant/nero.jpg" alt="Servant Image">
      <h2>Servant Name</h2>
      <p>ネロ</p>
      <h3>プロフィール</h3>
      <ul>
        <li>出身: ローマ</li>
        <li>年齢: 不明</li>
        <li>前職: 皇帝</li>
      </ul>
    </section>

    <section class = "detail">
      <div class="section">
        <h1 onclick="toggleSection(1)" class="clickable-header">ネロの物語</h1>
        <div id="content1" class="section-content">
          <h3>はじめに</h3>
          没人類史のネロの歴史について、今から言及していこうと思う。
          あくまでも、現代人に伝えられている歴史だ。
          私達マスターが知っているネロではなく、歴史という万人の口伝えによるフィルターにかけられたネロの物語であることを認識して欲しい。
          <h3>ネロという人物</h3>
          ネロは初代皇帝から続くユリウス=クラウディウス家の血を継ぐ最後のエンペラー、ローマ帝国第5皇帝である。
          彼女、いやここでは彼といっておこう。
          彼は悪名高き皇帝として知られており、
          ローマ大火の犯人、キリスト教徒の虐殺、母殺し、
          これらのことからネロは「暴君」「狂気の君主」といったラベルが貼られ、現代までそのイメージが
          引き継がれている。
          しかし、今私達は何も知らずに彼のことを暴君と一蹴しているのだ。
          本当にそうなのだろうか?彼が暴君であったかどうかはこの物語を読んだ後に改めて判断して欲しい。
          <h3>ネロの出生</h3>
          ネロは初代皇帝の直径の子孫として、野心家で執念深い母アグリッピナのもとに生まれた。
          母アグリッピナは第三皇帝カリギュラの兄弟であり、生まれつき権力と強い繋がりがあったのだ。
          さらに、彼女の政治手腕、権力闘争の腕は一流でとても優秀な人物であったとされる。
          しかし、ネロの生涯はこの母アグリッピナの権力への執着によって大きく歪まされることになる。
          <h3>幼少期のネロ</h3>
          ネロは幼少期の頃、母アグリッピナにより最高峰の英才教育を受けていた。
          ローマ最高峰の哲学者セネカによる道徳、哲学、統治など良き皇帝になるための教育。さらに、近衛兵団長官であるブルスによる武力の教育をネロは幼少期の頃から受けていたのだ。
          それに加え、ネロは幼少期から音楽、演劇などといった芸術に深い理解を示し、自身を芸術家と自称するほどこれらのことに情熱的であった。
          このことから彼は教養があり、とても学のある人物であることがわかるだろう。
          <h3>皇帝までの経緯</h3>
          第3皇帝カリギュラは自身の権力を盤石にするために自らの妹である、母アグリッピナとネロを母子ともに追放たのだ。
          しかし、カリギュラが暗殺され第4皇帝クラウディウスが帝位を継承した際に彼によってネロ達はローマに戻ることを許された。
          ここで表舞台に戻ってきた母アグリッピナは野心を大爆発させ、第4皇帝の妻になってしまった。
          これにより、ネロは一気に皇帝ルートに近づいてしまったのだ。
          だが、第4皇帝には前妻との息子と娘がおり息子が次期皇帝になる可能性があった。
          そのため、母アグリッピナはネロを後継者とするためネロを第4皇帝の娘と婚約させた。これにより、第4皇帝クラウディウスは次期皇帝をネロと
          決定した。その直後第4皇帝クラウディウスは不可解な死をとげることとなる。
          これは、母アグリッピナによる陰謀である可能性が極めて高い。彼女が見出した女毒使いロクスタによる毒殺だといわれている。
          <h3>皇帝に即位</h3>
          ネロは泣く泣く第4皇帝の娘と結婚させられ16歳という若さでローマ第5皇帝に即位することになる。
          ネロが皇帝に即位した時、ローマ市民、元老院、近衛兵団の皆が歓喜にわいたのだという。
          そして、ネロは自身に教育を施してくれた哲学者セネカや近衛兵団長官ブルスを政治補佐とし、母アグリッピナも交え善政を行った。
          <h2></h2>
          
          <h3>母殺し</h3>
          ネロを語るうえで避けては通れないことが母殺しだ。母殺しはいわばタブー、どんな暴君であっても絶対にしてはならないことだった。
          なぜネロはこのような所業に至ってしまったのだろうか?
          順をおって説明しよう。
          ネロには解放奴隷アクテという思い人がいたと説明した。
          これは身分違いの恋であり決して成就することのないものだった。
          しかし自由奔放、思春期真っ只中のネロにとってそんなことは関係ない。
          アクテと結婚しようと考えたが、母が猛反対。
          結局ネロは好きでもない人と無理やり結婚させられ皇帝の座に就くこととなった。
          自分の恋路を邪魔し、過剰に介入してくる母に対して皇帝ネロは反抗期に突入していき母アグリッピナのいうことを聞かなくなってしまうのだ。
          反抗的なネロを見た母アグリッピナはこれを良しとはしなかった。
          彼女はあろうことか比較的操りやすい第4皇帝の息子ブリタニクスに接近し彼を皇帝にしようと画策する。
          この母の動きを察知したネロは自身が殺されることを恐れブリタニクスを毒殺する。
          この一連の事件によりネロは自分は母にとって権力闘争の駒でしかなかったことを知るのだった。
          これは彼の心を深く傷つけ親子の関係に大きな傷跡を残してしまったのだ。
          だが、これだけでは終わらない!!母アグリッピナはネロを掌握するためにとんでもない行動にでる。
          彼女はネロの寝室に訪れ肉体関係を強要したのだ。この母親ヤバすぎる。
          この噂はローマ中に広がっていき母アグリッピナはネロにとって重荷しかならなくなってしまったのだ。
          政治的脅威でもあり、ローマ市民からの人気を落としかねない要因である彼女をついにネロは殺害することを決意する。
          ネロは母に刺客を送り込み殺害した。最後すべてを察したアグリッピナは自身の腹を指さし「ここを刺しなさ、ここからネロは生まれたのだから」と刺客に
          言い放ったそうだ。
          アグリッピナは政治家、野心家としては超一流であった。しかし、母としては下の下もいいところである。
          この出来事はネロの人格を大きく歪ませた最大の理由だといっていいだろう。


          <h3></h3>

          
        
        </div>
      </div>
    </section>

    <form method="post" action="/nero">
      <div class="comment-form">
        <textarea id="comment-input" placeholder="コメントを書き込む..." name="comment"></textarea>
        <button type="submit" class="btn btn-primary">コメント投稿</button>
      </div>

      <div class="comment-indication">
        <% for (item of comments) { %>
          <div class="comment-item"><%= item %></div>
        <% } %>
      </div>
    </form>
 

    


        
  
    <footer>
      <p>&copy; 2023 Servant Introduction. All rights reserved.</p>
    </footer>
    <script src="/javascripts/script.js"></script>
  </body>
</html>