<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cool Servant Page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/list.css">
  <script src="script.js"></script>
</head>

  <body>
    <header>
      <h1 class="logo">Servant List</h1>
    </header>


    <table>
      <div id="servantList">
        
        <tr>
          <th class="tblist-cell">出身国</th>
          <th class="tblist-cell">サーヴァント</th>
          <th class="tblist-cell">クラス</th>
        </tr>
        <tr class="servant セイバー">
          <!-- <th>イギリス</th>
          <th><a href="UK/aser.html">アーサー</a></th>
          <th>セイバー</th> -->
        </tr>
        <tr class="servant セイバー">
          <th>ローマ</th>
          <th><a href="nero">ネロ</a></th>
          <th>セイバー</th>
        </tr>
        <tr class="servant アーチャー">
          <!--<th>日本</th>
          <th>アーチャー</th>
          <th>アーチャー</th>-->
        </tr>
        <tr class="servant ランサー">
          <!--<th>インド</th>
          <th><a href="IND/karuna.html">カルナ</a></th>
          <th>ランサー</th>-->
        </tr>
        <tr class="servant バーサーカー">
          <!-- <th>ギリシャ</th>
          <th><a href="GR/herakuresu.html">ヘラクレス</a></th>
          <th>バーサーカー</th> -->
        </tr>
        <tr class="servant ランサー">
          <!--<th>北欧</th>
          <th><div class="servant ランサー"><a href="Celtic/kuhurin.html">クーフーリン</a></div></th>
          <th>ランサー</th>-->
        </tr>
        <tr class="servant キャスター">
          <!--<th>ギリシャ</th>
          <th><div class="servant キャスター"><a href="GR/media.html">メディア</a></div></th>
          <th>キャスター</th>-->
        </tr>
      </div>
    </table>
      
      
    
    
      <table class="classList">
        <tr>
          <td><img src="/images/all.png" class="class_icon" onclick="showAllServants()"></td>
          <td><img src="/images/saver.png" class="class_icon" onclick="showClass('セイバー')"></td>
          <td><img src="/images/atya.png" class="class_icon" onclick="showClass('アーチャー')"></td>
          <td><img src="/images/ranser.png" class="class_icon" onclick="showClass('ランサー')"></td>
        </tr>
        <tr>
          <td><img src="/images/caster.png" class="class_icon" onclick="showClass('キャスター')"></td>
          <td><img src="/images/asasin.png" class="class_icon" onclick="showClass('アサシン')"></td>
          <td><img src="/images/raider.png" class="class_icon" onclick="showClass('ライダー')"></td>
          <td><img src="/images/basercar.png" class="class_icon" onclick="showClass('バーサーカー')"></td>
        </tr>
      </table>
      
      
  
    <footer>
      <p>&copy; 2023 Servant Introduction. All rights reserved.</p>
    </footer>
  </body>

</html>
